<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <style>
        body {background: rgb(69,218,194);
        background: linear-gradient(90deg, rgba(69,218,194,1) 0%, rgba(93,214,246,1) 36%, rgba(27,112,195,1) 100%);
        }
    </style>
</head>

<body>
    {% load crispy_forms_tags %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">

                <div class="card p-4 mt-3">


                    <h2>Ingreso de usuario</h2>

                    <form action="" method="POST">

                        {% csrf_token %}
                        <table>
                            {{ form | crispy }}
                        </table>
                        <a href="{% url 'social:begin' 'facebook' %}">Login con facebook</a><br>
                        <a href="{% url 'home' %}">Ir al sitio</a>
                        <input type="submit" value="Ingresar" class="btn btn-primary float-right">
                    </form>


                </div>



            </div>
        </div>
    </div>



</body>

</html>